.header{
    display: flex;
    align-items: center;
    img{
        max-width: 20%;
        max-height: 120px;
        @media (max-width: 500px) {
            max-width: 27%;
        }
    }
    .separator{
        flex: 1 1 1px;
        min-width: 0px;
    }
    ul{
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .mobileMenu{
        display: none;
    }
    .menu{
        font-size: 1.2rem;
        z-index: 1;
        .item{
            display: block;
            padding: 10px 20px;
            transition: all 400ms;
            background-color: var(--bg-color);
            color: var(--text-color);
            /* 
            color: black; */
            &:hover{
                background-color: #ddd;
                color: black;
            }
        }
        .submenu{
            max-width: 200px;
            display:none;
            position: absolute;
            top: 100%;
            left: 0px;
            box-shadow: 1px 1px 2px #CCC;
            .submenu{
                top: 0px;
                left: 100%;
            }
        }
        
        .hasSubmenu{
            position: relative;
            display: flex;
            &:hover{
                > .submenu{
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .header{
        &> img{
            visibility: hidden;
        }
        .logoMobile{
            visibility: visible;
            position:absolute;
            left: 10px;
            z-index: 2;
        }
        .mobileMenu{
            display: block;
            position: absolute;
            height: 25px;
            width: 30px;
            z-index: 2;
            right: 20px;
            .lineContainer{
                position: relative;
                width: 100%;
                height: 100%;
                .line{
                    background-color: var(--text-color);
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    transition: all 400ms;
                    &:nth-child(1){
                        top: 0px;
                        &.lineActive{
                            transform: rotateZ(45deg);
                            top: calc(50% - 1.5px);    
                        }
                    }
                    &:nth-child(2){
                        top: calc(50% - 1.5px);
                        &.lineActive{
                            transform: rotateZ(-45deg);
                            top: calc(50% - 1.5px);    
                        }
                    }
                    &:nth-child(3){
                        bottom: 0px;
                        &.lineActive{
                            transform: rotateZ(-45deg);
                            top: calc(50% - 1.5px);    
                        }
                    }
                }
            }
        }
        nav {
            &.menuActive{
                & > .menu{
                    padding-top: 90px;
                    display: block;
                }    
            }
            & > .menu{
                display: none;
                position: absolute;
                flex-direction: column;
                background-color: var(--bg-color);
                right: 0px;
                top: 0px;
                bottom: 0px;
                left: 0px;
                .item{
                    flex-direction: column;
                    width: 100%;
                    
                }
                .arrow{
                    display: inline-block;
                    width: 30px;
                    text-align: right;
                }
                
                .active + .submenu{
                    display: block;
                }
                .submenu{
                    width: 100%;
                    max-width: initial !important;
                    position: relative !important;
                }
            }
        }
    }
}