.Body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    .main{
        flex: 1 1 1px;
        min-height: 0px;
    }
    @media (max-width: 500px) {
        padding: 0px 20px;
    }
}